.slider-wraper {
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before {
    color: blue;
    transition: all 0.3s;
  }

  .slick-dots {
    bottom: -35px;
  }

  #a1,
  #a1 h2 {
    color: #fff;
  }

  .slider-content {
    position: relative;
  }

  .slider-img {
    height: 80vh;
    width: 100vw;
  }

  .podium-text {
    color: rgb(0, 50, 160);
    display: block;
    justify-content: center;
    left: 10%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    width: 450px;
    z-index: 99;

    h2 {
      color: rgb(0, 50, 160);
      display: block;
      font-size: 32px;
      hyphens: auto;
    }
    h2:nth-child(2) {
      color: #fff;
    }
    p {
      display: block;

      font-size: 18px;
    }
  }

  .slick-arrow.slick-next {
    display: none !important;
  }

  .slick-arrow.slick-prev {
    display: none !important;
  }
  .slick-arrow.slick-next::before {
    display: none;
  }

  .slick-arrow.slick-prev::before {
    display: none;
  }
  .slick-arrow.slick-next {
    margin-right: 70px !important;
    opacity: 1;
    z-index: 9;
  }
  .slick-arrow.slick-prev {
    box-shadow: none;
    margin-left: 30px;
    opacity: 1;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    transform: translateY(-50%) scale(1.18) !important;
  }
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #fff !important;
  color: rgb(0, 50, 160);
  opacity: 1;
  transition: all 0.3s;
}
.slider-wraper:hover {
  .slick-arrow.slick-next::before {
    display: block;
  }
  .slick-arrow.slick-prev::before {
    display: block;
  }

  .slick-arrow.slick-next {
    display: block !important;
  }
  .slick-arrow.slick-prev {
    display: block !important;
  }
}
.slick-arrow.slick-next::before {
  color: blue;
  font-size: 50px;
}
.slick-arrow.slick-prev::before {
  color: blue;
  font-size: 60px;
}
.slick-arrow.slick-next {
  margin-right: 32px;
  opacity: 1;
  z-index: 9;
}
.slick-arrow.slick-prev {
  margin-left: -10px;
  opacity: 1;
  z-index: 9;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: blue;
}

@media screen and (max-width: 1280px) {
  .slider-content {
    height: 720px;
    margin: 0 auto;
    .slider-img {
      height: 500px;
      width: 100%;
    }
  }
  .podium-text {
    background-color: #fff;
    height: 90%;
    margin: 0 auto;
    max-height: auto;
    top: 60% !important;
    transform: translateX(22%) !important;
    width: 70% !important;
  }
}

@media screen and (max-width: 480px) {
  .podium-text {
    h2 {
      font-size: 24px !important;
      line-height: 28px;
      margin: 5px;
    }
    p {
      margin: 5px;
      overflow: hidden;
    }
  }
}
