.user-actions {
  color: rgb(0, 50, 160);
  padding: 40px 20px 30px;

  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    margin-bottom: 25px;
  }

  &__social-media {
    display: flex;
    justify-content: center;
  }

  &__share-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.social-media {
  &__facebook:hover,
  &__pinterest:hover {
    filter: brightness(120%);
    transition: 0.3s ease-in-out;
  }

  &__pinterest,
  &__facebook {
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 55px;
    margin: 0 12px 15px;
    position: relative;
    width: 55px;
  }

  &__facebook {
    background-color: #33428c;
  }

  &__pinterest {
    background-color: #bd081c;
  }

  &__link {
    display: flex;
    justify-content: center;
    transition: color 0.2s;
    width: 100%;
  }
}

.share-info {
  &__icon {
    svg {
      fill: rgb(0, 50, 160);
      width: 20px;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 18px;
    text-align: left;
  }
}
