.selector-section {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: rgb(0, 50, 160);
  padding: 60px 0;

  .container-title {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    min-width: 320px;
  }
  h2 {
    font-size: 32px;
    font-weight: 650;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
  }
  .product-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    .selction-item {
      display: flex;
      flex-basis: 150px;
      flex-shrink: 0;
      flex-grow: 0;
      justify-content: center;
      max-width: 150px;
      margin: 16px 3px 0;
      .product-svg {
        display: block;
      }
      svg {
        width: 88px;
        fill: rgb(0, 50, 160);
        cursor: pointer;
      }

      .product-svg:hover {
        transition: 0.2s ease-out 50ms;
        color: rgb(131, 151, 198);
        svg {
          transition: 0.2s ease-out 50ms;
          fill: rgb(131, 151, 198);
        }
      }
      .product-tittle {
        display: flex;
        margin-top: 16px;
        max-width: fit-content;
        position: relative;
        padding-left: 0;
        span {
          text-align: left;
          padding-left: 14px;
          font-size: 18px;
          font-weight: 600;
        }
      }
      span::before {
        left: 0;
        transform: rotate(45deg);
        content: "";
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        border-color: inherit;
        display: inline-block;
        height: 6px;
        position: absolute;
        top: 8px;
        width: 6px;
      }
    }
  }
}