.product-selector {
  color: rgb(0, 50, 160);
  padding: 60px 0;
  text-align: center;

  &__headline {
    font-size: 32px;
    font-weight: 650;
    margin-bottom: 40px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
  }

  &__item {
    display: flex;
    flex-basis: 150px;
    justify-content: center;
    margin: 16px 3px 0;
  }

  svg {
    cursor: pointer;
    fill: rgb(0, 50, 160);
    width: 88px;
  }

  &__link:hover {
    color: rgb(131, 151, 198);
    transition: 0.2s ease-out 50ms;
    svg {
      fill: rgb(131, 151, 198);
      transition: 0.2s ease-out 50ms;
    }
  }

  &__title {
    display: flex;
    margin-top: 16px;
    position: relative;
  }

  span {
    font-size: 18px;
    font-weight: 600;
    padding-left: 14px;
    text-align: left;
  }

  span::before {
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-color: inherit;
    content: "";
    display: inline-block;
    height: 6px;
    left: 0;
    position: absolute;
    transform: rotate(45deg);
    top: 8px;
    width: 6px;
  }
}
